       
        .TableTop {
	        font-family: 微軟正黑體;
	        font-size: large;
	        background-color: #000079;
	        text-align: center;
	        color: #FFFFFF;
            height: 30px;
        }
        .Table100 {
	        width:100%;
        }
        .TableTop_Left {
	        font-family: 微軟正黑體;
	        font-size: large;
	        background-color: #000079;
	        text-align: left;
	        color: #FFFFFF;
            height: 30px;
        }
        .TableLeftColumn {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #0000FF;
            text-align: center;
            color: #FFFFFF;
            }
        .Table1 {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #97CBFF;
            text-align: center;
            color: #000000;
            }
        .Table2 {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #ECF5FF;
            text-align: left;
            color: #000000;
            vertical-align:top;
        }
        .Table1L {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #97CBFF;
            text-align: left;
            color: #000000;
            }
        .Table2C {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #ECF5FF;
            text-align: center;
            color: #000000;
            vertical-align:top;
        }
        .Table2CC {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #ECF5FF;
            text-align: center;
            color: #000000;
            vertical-align:central;
        }
        .Table2RC {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #ECF5FF;
            text-align: right;
            color: #000000;
            vertical-align:central;
        }
        .Table2LC {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #ECF5FF;
            text-align: left;
            color: #000000;
            vertical-align:central;
        }
        .Table1R {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #97CBFF;
            text-align: right;
            color: #000000;
            }
        .Table2R {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #ECF5FF;
            text-align: right;
            color: #000000;
            vertical-align:top;
        }
        .TableTop2 {
	        font-family: 微軟正黑體;
	        font-size: medium;
	        background-color: #CEC5D3;
	        text-align: left;
	        color: #006633;
        }
        .TableTop2C {
	        font-family: 微軟正黑體;
	        font-size: medium;
	        background-color: #CEC5D3;
	        text-align: center;
	        color: #006633;
        }
        .TableTop2R {
	        font-family: 微軟正黑體;
	        font-size: medium;
	        background-color: #CEC5D3;
	        text-align: right;
	        color: #006633;
        }
        .Table0 {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #666699;
            text-align: left;
            color: #FFFFFF;
            height: 30px;
        }
        .Table0C {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #666699;
            text-align: center;
            color: #FFFFFF;
            }
        .Table0R {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #666699;
            text-align: right;
            color: #FFFFFF;
            }
        .LinkBtnA {
            width:120px;
            height:20px;
            font-size:medium;
            font-family:微軟正黑體;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            text-align:center;
            background-color:white;
        }
        .LinkBtnB {
            width:120px;
            height:20px;
            font-size:medium;
            font-family:微軟正黑體;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            text-align:center;
            background-color:#D2D2D2;
        }
        .LinkBtnALong {
            width:160px;
            height:20px;
            font-size:medium;
            font-family:微軟正黑體;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            text-align:center;
            background-color:white;
        }
        .LinkBtnBLong {
            width:160px;
            height:20px;
            font-size:medium;
            font-family:微軟正黑體;
            border-top-left-radius:8px;
            border-top-right-radius:8px;
            text-align:center;
            background-color:#D2D2D2;
        }
        .DDLlong {
            font-size:medium;
            font-family:微軟正黑體;
            width:300px;
            height:25px;
        }
        .DDLshort {
            font-size:medium;
            font-family:微軟正黑體;
            width:150px;
            height:25px;
        }
        .DDLfree {
            font-size:medium;
            font-family:微軟正黑體;
            height:25px;
        }
        .BtnFree {
            font-size:medium;
            font-family:微軟正黑體;
            height:30px;
        }
        .BtnLargeShort {
            font-size:medium;
            font-family:微軟正黑體;
            height:35px;
            width:100px;
        }
        .BtnLargeMedium {
            font-size:medium;
            font-family:微軟正黑體;
            height:35px;
            width:150px;
        }
        .TBlong {
            font-size:medium;
            font-family:微軟正黑體;
            height:25px;
            width:300px;
            }
        .TBmiddle {
            font-size:medium;
            font-family:微軟正黑體;
            height:25px;
            width:150px;
            }
        .TBshort {
            font-size:medium;
            font-family:微軟正黑體;
            height:25px;
            width:75px;
        }
        .TB500 {
            font-size:medium;
            font-family:微軟正黑體;
            height:25px;
            width:500px;
            }
        .TBfree {
            font-size:medium;
            font-family:微軟正黑體;
        }
        .NoteText {
	        font-size: small;
	        color: #FF0000;
        }
        .ModeBtn {
	        font-size:x-large;
	        font-family:微軟正黑體;
            background-color:#008CBA;
            color:white;
            height:185px;
            width:300px;
            font-weight:600;
            border-radius:12px;
            border: 2px solid #000000;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        

