<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SQL_Try_1" connectionString="Data Source=140.118.5.148;Initial Catalog=Private_Com1;User ID=CICIMS;Password=ntustCIC419"
            providerName="System.Data.SqlClient" />
        <add name="Private_Com1ConnectionString" connectionString="Data Source=140.118.5.148;Initial Catalog=Private_Com1;User ID=CICIMS;Password=ntustCIC419"
            providerName="System.Data.SqlClient" />
        <add name="Private_Com1ConnectionString2" connectionString="Data Source=140.118.5.148;Initial Catalog=Private_Com1;User ID=CICIMS;Password=ntustCIC419"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
