        .Sht100 {
	        width:100%;
            /*background-color: #000000;*/
            border-collapse: collapse;
            background-color: #FFFFFF;
        }
        .Sht50 {
	        width:50%;
        }
        .ShtRowTop {
	        font-family: 微軟正黑體;
	        font-size: large;
	        background-color: #97CBFF;
	        text-align: center;
	        color: #000000;
            height: 30px;
        }
        .ShtRowSingle {
            background-color: #D2E9FF;
        }
        .ShtRowDouble {
            background-color: #FFFFFF;
        }
        .ShtRowExecuteDeep {
            background-color: #FFB5B5;
        }
        .ShtRowExecuteSoft {
            background-color: #FFECEC;
        }
        .ShtCellCL {
            text-align: left;
            vertical-align:central;
        }
        .ShtCellCC {
            text-align: center;
            vertical-align:central;
        }
        .ShtCellCR {
            text-align: right;
            vertical-align:central;
        }
        .ShtCellTL{
            text-align: left;
            vertical-align:top;
        }
        .ShtCellTC{
            text-align: center;
            vertical-align:top;
        }
        .ShtCellTR{
            text-align: right;
            vertical-align:top;
        }
        .ShtCellBL{
            text-align: left;
            vertical-align:bottom;
        }
        .ShtCellBC{
            text-align: center;
            vertical-align:bottom;
        }
        .ShtCellBR{
            text-align: right;
            vertical-align:bottom;
        }
        .ShtCellCL, ShtCellCC, ShtCellCR, .ShtCellTL, .ShtCellTC, .ShtCellTR, .ShtCellBL, .ShtCellBC, .ShtCellBR {
            font-family: 微軟正黑體;
            font-size: medium;
            color: #000000;
            border:#4F4F4F 1px solid; 
        }
        