<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

	<connectionStrings>
    <add name="checklistConnectionString" connectionString="Data Source=140.118.105.228;Initial Catalog=checklist;User ID=CICIMS;Password=ntustCIC419"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
