        .Sht100 {
	        width:100%;
            border-collapse: collapse;
            border:#000000 1px solid; 
        }

        .Sht50 {
            width:50%;
            background-color: #FFFFFF;
}
        .ShtRowTop {
	        font-family: 微軟正黑體;
	        font-size: large;
	        background-color: #97CBFF;
	        text-align: center;
	        color: #000000;
            height: 30px;
        }
        .ShtRowSingle {
            background-color: #D2E9FF;
        }
        .ShtRowDouble {
            background-color: #FFFFFF;
        }
        .ShtRowExecuteDeep {
            background-color: #FFB5B5;
        }
        .ShtRowExecuteSoft {
            background-color: #FFECEC;
        }
        .ShtRowNew {
            background-color: #FF5809;
        }
        .ShtCellCL {
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: left;
            vertical-align:central;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellCC {
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: center;
            vertical-align:central;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellCR {
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: right;
            vertical-align:central;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellTL{
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: left;
            vertical-align:top;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellTC{
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: center;
            vertical-align:top;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellTR{
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: right;
            vertical-align:top;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellBL{
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: left;
            vertical-align:bottom;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellBC{
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: center;
            vertical-align:bottom;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellBR{
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: right;
            vertical-align:bottom;
            color: #000000;
            border:#000000 1px solid; 
        }
        .ShtCellChange {
            font-family: 微軟正黑體;
            font-size: medium;
            text-align: right;
            vertical-align:central;
            color: #FF0000;
            border:#000000 1px solid; 
        }
        