        .SR_DownSingle {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #ECF5FF;
            text-align: center;
            color: #000000;
            vertical-align:central;
            width:3.1%;
            height:25px;
        }
        .SR_DownDouble {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color:#E8FFF5;
            text-align: center;
            color: #000000;
            vertical-align:central;
            width:3.1%;
            height:25px;
            }
        .SR_Up {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #97CBFF;
            text-align: center;
            color: white;
        }
        .SR_Left {
            font-family: 微軟正黑體;
            font-size: medium;
            background-color: #97CBFF;
            text-align: center;
            color: white;
            width:3.9%;
        }