<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CICIMSConnectionString" connectionString="Data Source=140.118.5.148;Initial Catalog=Private_Com1;Persist Security Info=True;User ID=CICIMS;Password=ntustCIC419"
      providerName="System.Data.SqlClient" />
    <add name="NTUSTConnectionString" connectionString="Data Source=140.118.5.148;Initial Catalog=NTUST;Persist Security Info=True;User ID=CICIMS;Password=ntustCIC419"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>